.wrap {
  border-bottom: 1px solid green;
  border-top: 1px solid green;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subTitle {
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 30px;
}

.list {
  font-weight: 500;
  padding-left: 0;
  margin-left: 30px;
  list-style-type: none;
}

.item {
  font-weight: normal;
  display: inline;
  margin-right: 7px;
  font-size: 18px;
  text-decoration: none;
}

.activeLink {
  color: green;
}

.button {
  padding: 5px;
  margin-left: 30px;
  margin-top: 15px;
}
